<p>{{test}}</p>
<a href="create-note">create-event</a>


<div>
  <broadcaster
  has-stream="hasStream"
  room-name="roomName"
  mirror="true"
  muted="true"
  is-broadcasting="isBroadcasting"></broadcaster>

  <button ng-click="prepare()" ng-disabled="hasStream">Prepare to broadcast</button>
  <div ng-show="hasStream">
    <input type="text" ng-model="roomName" placeholder="Enter a new room name" />
    <button ng-click="start()" ng-disabled="!roomName || broadcasting">Start room</button>
  </div>
</div>